/*------------ ROOT VARIABLE & GENERAL STYLING ----------- */
/* * {
    border: 1px solid gold
} */

@import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Text|PT+Serif:400,700&display=swap');
@font-face {
    font-family: modernFont;
    src: url(azonix-font/Azonix-1VB0.otf);
}

:root {
    --dark-gray: #121212;
    --lighter-gray: #404040;
    --dark-blue: #182952;
    --rich-blue: #2b3595;
    --purple: #7045af;
    --bright-pink: #e14594;
    --bright-teal: #21e6c1;
    --true-red: #ff0000;
}

body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: modernFont;
    background-color: var(--dark-gray);
}

li {
    text-align: left;
    list-style: none;
}

h4 {
    color: white;
    font-weight: bold;
    font-size: 1.25em;
}

/***********************************/
/*------------ DEFAULT ----------- */
/************************************/

/******* HEADER ********/

.newHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.newHeader > nav {
    width: 25%;
}

.newHeader > nav > ul > li > button {
    background-color: var(--lighter-gray);
    margin: 2%;
    padding: 2%;
}

.newHeader > nav > ul > li > button > a{
    color: var(--bright-pink);
    text-decoration: none;
    font-size: 1.75em;
    font-family: modernFont;
}

h1 {
    color: var(--bright-teal);
}

.progressDisplay {
    display: flex;
    flex-direction: column;
    width: 25%;
    color: var(--bright-teal)
}

/******* FOOTER ********/

footer {
    text-align: center;
    padding: 10px;
    background-color: var(--lighter-gray);
    margin: 2%;
}

footer > h2 > a {
    cursor: pointer;
    text-decoration: none;
    color: var(--bright-teal);
}

/***********************************/
/*------------ INDEX ----------- */
/************************************/

/******* DROPDOWNS ********/

.workoutFilter {
    padding: 3%;;
    background-color: var(--lighter-gray);
    margin: 2%;
    text-align: center;
}

.workoutFilter > label {
    padding-right: 2%;
}

/******* WORKOUT DISPLAY ********/
.workoutsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--bright-teal);
    margin: 3%;
}

.workoutImage {
    width: 30%;
    margin: 2%;
    border: 2px solid var(--bright-teal);
}

.workoutImage > img {
    width: 100%; 
}

.workoutDisplay {
    width: 50%;
    margin: 2%;
    padding-left: 2%;
    background-color: var(--lighter-gray);
    border: 2px solid var(--bright-teal);
}

.workoutDisplay > h3 {
    color: var(--bright-teal);
    font-size: 1.5em;
}

.workoutDisplay > ul > li {
    color: var(--bright-teal);
    line-height: 40px;
    font-weight: 800;
    font-size: 1.25em;
}

.workoutDisplay > h3 > a:hover {
    cursor: pointer;
    color: var(--bright-pink);
}

.workoutDisplay > ul > li > a {
    text-decoration: none;
    color: var(--purple);
    font-size: 1.25em;
}

.workoutDisplay > ul > li > a:hover {
    text-decoration: none;
    color: var(--bright-pink);
    font-size: 1.25em;
    cursor: pointer;
}

span {
    color: white;
    font-weight: 400;
}

/***********************************/
/*------------ SHOW ----------- */
/************************************/

.showHeader {
    padding: 3%;
}

.showHeader > nav > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.showHeader > nav > ul > li {
    width: 25%;
}

.showHeader > nav > ul > li > button {
    background-color: var(--bright-pink);
    width: 100%;
    padding: 5%;
}

.showHeader > nav > ul > li > button > a {
    font-size: 1.5em;
    color: white;
    text-decoration: none;
}

.workoutContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--lighter-gray);
    margin: 2%;
}

.exerciseImg {
    width: 46%;
}

.exerciseImg > img {
    width: 90%;
    margin: 5%;
}

.exerciseParent {
    color: white;
    font-size: 1.5em;
    margin-left: 2%;
    margin-right: 2%;
}

th {
    padding: 5%;
}

td {
    padding: 5%;
}

.changeButtons {
    background-color: var(--lighter-gray);
    margin: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
}

.changeButtons > button {
    background-color: var(--bright-pink);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1.25%;
    padding-bottom: 1.25%;
    width: 30%;
}

.changeButtons > button > a {
    color: white;
    text-decoration: none;
    font-size: 2em;
}

.changeButtons > form {
    width: 30%;
}

.changeButtons > form > input[type='submit'] {
    background-color: var(--bright-pink);
    box-shadow: 0;
    font-size: 1.75em;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 100%;
    color: white;
    font-family: modernFont;
}

/***********************************/
/*------------ EDIT ----------- */
/************************************/

.updateComment {
    height: 50vh;
}

.updateComment > h2 {
    color: white;
    font-size: 1.75em;
    text-align: center;
    margin-bottom: 2%;
}

.updateComment > h2 > span {
    color: var(--bright-pink);
}

.updateComment > form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.updateComment > form > input[type="textarea"] {
    width: 60%;
    height: 40%;
    resize: vertical;
    background-color: var(--lighter-gray);
    color: var(--bright-teal);
    font-family: modernFont;
    font-size: 1.75em;
}

.updateComment > form > input[type="submit"] {
    width: 40%;
    padding: 3%;
    margin-top: 5%;
    font-size: 1.5em;
    font-family: modernFont;
    background-color: var(--bright-teal);
    color: var(--dark-gray)
}

.updateComment > form > input[type="submit"]:hover {
    background-color: var(--bright-pink);
    color: white;
}

/***********************************/
/*------------ CREATE ----------- */
/************************************/


#createWorkout {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--lighter-gray);
    margin: 2%;
}

.newWorkout {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.newWorkout > div {
    width: 45%;
}

.newWorkout > div > img {
    width: 95%;
}

.newWorkout > .inputs1 > input[type="text"] {
    width: 95%;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid var(--bright-teal);
    margin-bottom: 4%;
    margin-top: 4%;
    font-size: 1.5em;
    font-family: 'Libre Caslon Text';
}

.newWorkout > .inputs2 > input[type="text"] {
    width: 95%;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid var(--bright-teal);
    margin-bottom: 4%;
    margin-top: 4%;
    font-size: 1.5em;
    font-family: 'Libre Caslon Text';
}

.newWorkout > .inputs1 > input[type="submit"] {
    text-align: center;
    width: 100%;
    height: 40px;
    background: var(--lighter-gray);
    box-shadow: 2px 2px var(--bright-teal);
    font-size: 1.5em;
    color: white;
    transition: 0.2s ease-in-out;
    margin-bottom: 2%;
    margin-top: 4%;
    font-family: modernFont;
}

.newWorkout > .inputs1 > input[type="submit"]:hover {
    cursor: pointer;
    background: var(--bright-teal);
    box-shadow: 2px 2px var(--lighter-gray);
}

.inputs1 > select {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid var(--lighter-gray);
    font-size: 1.75em;
    color: white;
    background-color: var(--bright-teal);
    font-family: 'Libre Caslon Text';
}

.inputs1 > select > option {
    background-color: var(--lighter-gray);
    color: var(--bright-pink);
}

.inputs2 > div {
    border-bottom: 3px solid var(--bright-teal);
}

form {
    color: white;
}

/***********************************/
/*------------ USER PROFILE ----------- */
/************************************/

main {
    height: 60vh;
    display: grid;
    grid-template-columns: 35% 25% 35%;
    grid-template-rows: repeat(3, 30%);
    grid-gap: 3%;
    color: white;
    margin: 4%;
    padding: 2%;
    border: 2px solid var(--bright-teal);
}

.level {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border: 2px solid var(--bright-teal);
}

.weight {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border: 2px solid var(--bright-teal);

}

.goal {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    border: 2px solid var(--bright-teal);

}

.avatar {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    margin-top: 40%;
}

.avatar > img {
    width: 100%;
}

.progressContainer{
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    border: 2px solid var(--bright-teal);
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.circle, .small {
    border: 8px solid var(--bright-pink);
    border-radius: 50%;
    width: 70%;
    height: 60%;
    z-index: 86;
    text-align: center;
}

.circle > h2 {
    margin-top: 25px;
    text-align: center;
    display: block;
    margin-top: 40%;
}


.points {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    border: 2px solid var(--bright-teal);

}

/**********INTERIOR STYLING***************/

h2 {
    font-size: 2.5em;
}

.levelNum, .weightNum, .goalNum {
    text-align: center;
    margin-top: 20%;
    font-size: 4.5em;
}

.levelNum {
    color: var(--bright-pink);
}

.weightNum {
    color: var(--bright-pink);
}

.goalNum {
    color: var(--bright-pink);
}

.percent {
    color: white;
}

/**********Progress Wheel***************/


.progressContainer {
    height: 700px;
}

.progresscard {
    stroke: #00ff34;
}

.progresscard, .box {
    height: 100%;
}

.percent {
    height: 60%;
}

.number {
    margin-top: 5%;
}

.text {
    margin-top: 40%;
}

svg {
    position: relative;
    width: 100%;
    height: 100%;;
    z-index: 1000;
}

svg > circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: var(--bright-teal);
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(50%, 5%);
}

/**********Points Bar***************/


.pointsContainer {
    height: 50%;
    width: 90%;
    background-color: var(--lighter-gray);
    margin-left: 5%;
}

.pointsContainer > h3 {
    text-align: right;
    margin-top: 10%;
}

.pointsTracker {
    background-color: var(--purple);
    width: 20%;
    height: 100%;
}


/***********************************/
/*------------ MEDIA QUERIES ----- */
/************************************/

@media (max-width: 640px) {

    /********* DEFAULT ********/

    .newHeader {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .newHeader > nav {
        order: 3;
    }

    .progressDisplay {
        order: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .progressDisplay > h4 {
        margin-right: 15%;
    }

    .newHeader > nav > ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .newHeader > nav > ul > li {
        margin-right: 50%;
    }

    footer > h2 {
        font-size: 1.25em;
    }

    /********* INDEX ********/

    .workoutImage {
        display: none;
    }

    .workoutDisplay > ul > li:nth-child(6) {
        display: none;
    }

    .workoutsContainer {
        display: block;
    }
    .workoutDisplay {
        width: 93%;
    }

    /********* SHOW ********/
    .exerciseImg {
        display: none;
    }

    .changeButtons > form > input[type="submit"] {
        font-size: 0.75em;
    }

    .changeButtons > button > a {
        font-size: 1.25em;
        font-family: modernFont;
    }

    /********* EDIT ********/
    .updateComment > form > h2 {
        font-size: 1.25em;
        text-align: center;
    }

    .updateComment > form > h2 > span {
        color: var(--bright-teal)
    }

    .updateComment > form > input[type="textarea"] {
        height: 150px;
        width: 80%;
    }

    /********* PROFILE ********/
    main {
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: repeat(6, 10%);
        height: 3000px;
        padding-left: 10%;
    }

    .avatar {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        height: 100%;
    }

    .level {
        grid-column: 1/2;
        grid-row: 2/3;
        font-size: 1em;
        margin-top: 25%;
    }

    .weight {
        grid-column: 1/2;
        grid-row: 3/4;

    }

    .goal {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .progressContainer {
        grid-column: 1/2;
        grid-row: 5/6;
        height: 100%;
    }

    .points {
        grid-column: 1/2;
        grid-row: 6/7;
    }

    .avatar > img {
        height: 100%;
    }

    .level > h2, .weight > h2, .goal > h2, .points > h2, .progressContainer > .circle > h2 {
        font-size: 2em;
    }

    .pointsContainer {
        height: 50%;
    }

}   